html {
  overflow-y: scroll;
}
body {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.content {
  padding-top: 15%;
  /*margin-top: 3em;*/
  min-height: auto;
}
div.header a.fb-button {
  padding-top: 3px;
  display: inline-block;
  padding-bottom: 1px;
  text-decoration: none;
  background: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 11px;
  border: 1px solid gray;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}
div.header a.fb-button:hover {
  border: 1px solid pink;
}
th {
  text-align: left;
}
div.central {
  position: relative;
  margin: auto;
  margin-top: 20%;
  width: 600px;
  text-align: center;
  /*border: 3px double black;*/
}
div.central a.button {
  background: #955251;
  color: white;
  padding: 4.5%;
  text-decoration: none;
  display: inline-block;
  font-size: 300%;
  border-radius: 32px;
  margin-bottom: 1%;
}
div.central a.button:hover {
  box-shadow: 1px 1px 1px 1px #482120;
  /*color: #E19291;*/
}

div.header {
  background: #482120;
  height: 45px;
  width: 100%;
  position: relative;
  color: white;
  font-size: 18px;
}
div.header img {
  height: 100%;
  border-radius: 5px;
  float: right;
}
div.header span {
  float: right;
  margin: 10px;
  margin-top: 15px;
}
div.header input, div.header #logout, div.header #register, div.header #login{
  margin-top: 1%;
  float: right;
  margin-right: 1%;
  display: flex;
}
div.header button#newRegistration {
  float: left;
  margin-top: 1.75%;
  margin-left: 1%;
}
/*div.header input {
  margin-right: 1%;
}
*/

div#searchResults {
  /*border: 1px solid black;*/
  background: yellow;
  position: relative;
}
div#searchResults span.model-name {
  position: absolute;
  bottom: 0;
  left: 0;
}

div.results {
  float: left;
  height: 50px;
  /*border: 1px solid black;*/
  border-radius: 5px;
  width: 25%;
  margin: 10px;
  padding: 5px;
  max-width: 50px;
  background-repeat:no-repeat;
  background-size: 100%;
  position: relative;
}

div#searchResults img {
  position: relative;
  max-width: 50px;
  max-height: 50px;
}



#searchResults a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  font-size: small;
}


#footer {
  position: absolute;
  width: 100%;
  height: 3em;
  background: rgba(9, 41, 2, 1);
}

#new_user {
  margin-top: 15em;
}

#shoes {
  text-align: left;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #482120;
}
a:hover {
  color: #E19291;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url(../../imgs/League-Gothic/LeagueGothic-Regular.otf);
}
div.shoe-pages {
  position: relative;
  width: 100%;
  margin-top: 539px;
}
div.user-profiles {
  position: relative;
  width: 100%;
  margin-top: 1300px;
}
div.user-profile {
  position: absolute;
  margin: auto;
  left: 5%;
  width: 90%;
}
div.shoe-instance{
  position: absolute;
  margin: auto;
  left: 5%;
  width: 90%;
}
div.shoe-instance p {
  text-align: left;
  font-size: 16px;
}
div.shoe-instance span.title, div.user-profile span.title{
  text-shadow: 1px 1px 1px #6FB2E1;
  color: #2B4C62;
  font-family: 'LeagueGothicRegular';
  font-size: 4em;
  margin-top: 0; margin-bottom: 0;
  display: inline-block;
  width: 1000px;
}
/*div.shoe-instance span.title:hover, div.user-profile span.title:hover {
  color: #6FB2E1;
}*/
div.shoe-instance div.heading, div.user-profile div.heading {
  position: absolute;
  text-align: left;
  left: 30%;
}
div.shoe-instance div.heading-img img {
  float: left;
  display: block;
  width: 25%;
  /*border: 2px solid green;*/
}
div.shoe-instance div.heading-title {
  float:left;
  width: 73%;
  margin-left: 1%;
  /*border: 2px solid blue;*/
  display: inline-block;
}
div.shoe-instance div.heading-img, div.heading-title{
}
div.shoe-instance div.heading div.new-review, div.shoe-instance div.heading div.new-review-title {
  height: 250px;
  display: block;
  border-radius: 10px;
  border: 2px solid rgb(9,41,2);
  color: gray;
}
div.shoe-instance div.heading div.new-review-title {
  height: 20px;
}
div.shoe-instance div.heading div.heading-title div#submitNewReview {
  border-radius: 5px;
  border: 2px solid gray;
  height: 16px;
  width: 60px;
  display: none;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
}
div.shoe-instance div.heading div.heading-title div#submitNewReview:hover {
  border: 2px solid black;
}
div.shoe-instance div.reviews, div.user-profile div.reviews {
  margin-top: 14%;
  position: absolute;
  min-height: 40em;
  width: 90%;
  left: 5%;
}
div.shoe-instance div.reviews div.review, div.user-profile div.reviews div.review {
  float: left;
  margin: 1px;
  width:24%;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid rgb(9,41,2);
  height: 10em;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
div.review span.review-date {
  float: right;
  margin-right: 10px;
}
.subtitle{
  text-shadow: 1px 1px 1px #955251;
  color: #482120;
  font-family: 'LeagueGothicRegular';
  font-size: 1.5em;
}
.subtitle:hover{
  color: #955251;
}
#navbar {
  margin: auto;
  position: relative;
  height: 100%;
  /*min-height: 100%;*/
  width: 75%;
  background: rgba(9, 41, 2, 0.6);
  opacity: .8;
  display: block;
  /*padding: 0px 20px 20px 20px;*/
}
/*#navbar a,p{
  color: beige;
}
#navbar a:hover{
  color: #BEB04B;
}*/
/*.review {
  color: rgba(8,38,2,0.5);
  background: rgba(9, 41, 2, 0.6);
  margin-bottom: 3em;
}*/

.shoe_pane {
  position:relative;
  width: 10em;
}
.shoe_pane img{
  width: 100%;
  display: inline-block;
}
.shoe_pane:after {
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.shoe_pane:hover:after {
  opacity: 1;
}

#shoes {
  text-align: center;
}
.shoe_pane a {
  font-size: .7em;
  text-decoration: none;
}
#shoe_table {
  margin:auto;
}

.thumbnail {
  width: 15%;
  border-radius: 5px;
  display: flex;
}

/*MARSALA:
marsala 955251
dark red 482120
pink E19291
dark green 194828
light green 519566
light blue 6FB2E1
dark blue 2B4C62

https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.2843137254901961,0.1284546921808576,0.12612843795236214,0.884313725490196,0.5738002097799203,0.5691656796946967,0.5843137254901961,0.3215686274509804,0.3176470588235294,0.09769706540334254,0.2843137254901961,0.1558390880877895,0.31764705882352945,0.5843137254901961,0.40072934834314244&swatchOrder=0,1,2,3,4
*/
