<a class ='fb-button' href='/fb_logout'>facebook logout</a><img src="http://graph.facebook.com/<%= User.find(session[:user_id]).fb_id %>/picture"><span><%= User.find(session[:user_id]).username %></span>
