<div class='vertical-navbar'><div id="navHome"><img id="navHome" src="/imgs/home166.png"></div><div id="navMagnifier"><img id="navMagnifier" src="/imgs/Magnifier-512.png"></div><div id="navShoe"><img id="navShoe" src="/imgs/shoe-icons/s1_64.png"></div><div id="navUser"><img id="navUser" src="/imgs/no-avatar.jpg"></div></div>
