<div class="central">
  <a href="#" class="button">Rock Shoe Fit Review</a>
  <form id="shoeBar">
    <% shoe = @shoes.sample %>
    <input type="text" id="shoeBarInput" placeholder="eg. <%= shoe %>" autocomplete="off" size="40" name="shoeBarInput">
    <input type="submit" style="display: none">
  </form>
  <div id="searchResults"></div>

</div>

<div class="shoe-pages" id="shoePages"></div>
<div class="user-profiles" id="userProfiles"></div>
