<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/index.css">

  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/user-profile.js"></script>
  <script src="/js/shoe-instance.js"></script>

 <title>Rock Shoe Fit Review</title>

</head>
<body>
<div class="header"><% if session['oauth'][:access_token] %><%= erb :_logged_in %><% else %><a class='fb-button' href='/facebook'>facebook login</a><% end %></div>

    <%= yield %>

</body>
  <script>searchSuggestions = []
  <% Shoe.all.each do |shoe|%>
    searchSuggestions.push('<%= shoe.display_name %>', '<%= shoe.brand %>')
    <% end %> </script>
  <script src='/js/search-bar.js'></script>
</html>
