<form id="new_user" action="/login" method="post">
  <input type="text" placeholder="email" name="email"><br>
  <input type="password" placeholder="password" name="password"><br>
  <input type="submit" value="Login">
</form>
<p>Invalid email or password :(</p>
