<h2>Welcome to Twaddy! Let's get you registered.</h2>

<form action="/register" method="POST">
Username:<br>
<input type="text" name="username">
<br><br>
Email:<br>
<input type="text" name="email">
<br><br>
Password:<br>
<input type="text" name="password">
<br><br>
<textarea name="about_me" cols=40 rows=4>Tell us a little about yourself! (In 140 characters or less)
</textarea><br><br>
<input type="submit" value="Register!">